

@media (min-width: 390px) {
    .containerCustomGridTable {
        width: 360px;
    }
}
@media (min-width: 500px) {
    .containerCustomGridTable {
        width: 550px;
    }
}
/* Small */
@media (min-width: 768px) {
    .containerCustomGridTable {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .containerCustomGridTable {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .containerCustomGridTable {
        width: 1370px;
    }
}
.containerCustomGridTable {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

