.PostionTable {
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 500px) {
  .PostionTable {
    left: 85%;
  }
}
/* @media (min-width: 390px) {
  .PostionTable {
    left: 85%;
  }
} */

.table-container {
    transition: max-height 0.5s ease-in-out;
    /* Adjust timing as needed */
    max-height: 0;
}

/* fetures */

.SelectModePrice {
    position: relative;
    background-color: white;
  }
  .SelectModePrice .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  }
  .SelectModePrice .boxSelect {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.3s;
    width:fit-content;
  }
  .SelectModePrice .selectBox{
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px ;
    transform: scale(0.9);
  }
  .SelectModePrice .boxSelect .img-holder {
    position: relative;
    overflow: hidden;
  }
  .SelectModePrice .boxSelect .img-holder::before {
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 100%;
  }
  .SelectModePrice .boxSelect .img-holder::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: 0.4s;
  }
  .SelectModePrice .boxSelect .img-holder img {
    width:300px;
    max-width: 100%;
  }
  .SelectModePrice .boxSelect:hover .img-holder::after {
    border-width: 170px 500px 170px 0;
  }
  .SelectModePrice .boxSelect h2 {
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
  }
  .SelectModePrice .boxSelect h2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    height: 5px;
    width: calc(100% - 30px);
  }
  .SelectModePrice .boxSelect p {
    line-height: 2;
    font-size: 20px;
    margin: 30px 0;
    padding: 25px;
    color: #777;
  }
  .SelectModePrice .boxSelect button {
    display: block;
    border: 3px solid transparent;
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 30px;
    border-radius: 6px;
    transition: 0.4s;
  }
  .SelectModePrice .quality .img-holder::before {
    background-color: rgb(244 64 54 / 60%);
  }
  .SelectModePrice .quality h2::after {
    background-color: #f44036;
  }
  .SelectModePrice .quality button {
    color: #f44036;
    border-color: #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  }
  .SelectModePrice .time .img-holder::before {
    background-color: rgb(0 150 136 / 60%);
  }
  .SelectModePrice .time h2::after {
    background-color: #009688;
  }
  .SelectModePrice .time button {
    color: #009688;
    border-color: #009688;
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  }
  .SelectModePrice .passion .img-holder::before {
    background-color: rgb(3 169 244 / 60%);
  }
  .SelectModePrice .passion h2::after {
    background-color: #03a9f4;
  }
  .SelectModePrice .passion button {
    color: #03a9f4;
    border-color: #03a9f4;
    background: linear-gradient(to right, #03a9f4 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  }
  .SelectModePrice .boxSelect:hover button {
    background-position: left bottom;
    color: white;
  }
  @page {
    size: A4; /* Setting the page size to A4 */
    margin: 0; /* Optional: Set margins to zero */
  }
  
  .a4-page {
    width: 210mm;
    height: 297mm;
    margin: auto;
    padding: 10mm; /* Optional: Add padding if needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visualization */
    background: white; /* Optional: Set background to white */
  }
  
  .contentPage {
    font-family: Arial, sans-serif;
    font-size: 12pt;
  }
  